
.ne-iso-hero {
    position: relative;
    background-image: url('./assest/images/iso-hero.png');
    width: 100%;
    height:368px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.ne-contact-content h2{
    font-size: 30px;
}

.iso-content{
    padding: 2rem;
}
.iso-text-content,.iso-text-two-content{
    font-size: 23px;
    font-weight: 300;
    line-height: 40px;
    color: #212121;
    
}

.iso-text-two-content{
    font-size: 26px;
    margin-top: 5rem;
    text-align: center;
}

.box-one-title,.box-two-title,.box-three-title{
    color: rgba(78, 175, 218, 1);
    font-weight: bold;
    font-size: 20px;
    text-align: end;
}
.box-three-title{
    text-align: center;
}
.box-two-title{
    text-align: start;
}
.box-one,.box-two{
    padding: 20px 25px;
    width: 565px;
    height: 140px;
    border: 3px solid rgba(155, 195, 82, 1);
    border-radius: 15px;
}
.box-three{
    width:100%;
    padding: 30px 25px 30px 25px;
    margin: 0 auto;
    border: 3px solid rgba(155, 195, 82, 1);
    border-radius: 15px;
}
.box-two{
    width: 450px;
    height: 170px;
    border-radius: 15px;
    border: 3px solid rgba(155, 195, 82, 1);
}


.box-one-text,.box-two-text,.box-three-text{
    /* margin-top: 1rem; */
    font-size: 14px;
    line-height: 20px;
    text-align: end;
    /* font-weight: 300; */
}
.box-three-text{
    text-align: center;
}
.box-two-text{
    text-align: start;
}

.row-one,.row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}



.box-two-image img{
    width: 188px;
}

.iso-certeficat,.iso-organic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.certeficate-logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.certeficate-title-h1,.organic-title-h1{
    color:#9BC352;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
.certeficate-title-p{
    color: #9BC352;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.certeficate-text{
    font-size: 20px;
    line-height: 40px;
    width: 530px;
}

.iso-organic-title{
    display: flex;
    align-items: center;
    gap: 30px;

}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Kaisei+Tokumin:wght@400;500;700&family=Mulish:wght@300;400;500;600;700&family=Noto+Sans:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

@media (max-width:1066px){
  .big-line {
    display: none;
}

}






@media (max-width:946px){
  .contact-form .form{
      width: 500px !important;
  }

  .form form input{
      width: 360px !important;
      height: 67px;
      
  }

  @media (max-width:660px){
    .organic-book-image,.certeficate-book{
      width: 350px !important;
    }
    .certeficate-text{
      font-size: 15px !important;
      line-height: 40px;
      width: 325px !important;
  }
  .iso-text-content, .iso-text-two-content {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 40px;
  
  }

  .ne-contact-content h1{
    font-size: 25px !important;
    width: fit-content !important;
  }
  .ne-contact-content p {
    font-size: 18px !important;
    width: 236px !important;
    
    
    
  }
  .hero-text-h2{
    text-align: center;
  }
  }
  
  
  
  .form form textarea{    
      width: 360px !important;
  }
  .submit-btn{
      width: 360px !important;
      height: 101;
  }

  .submit-btn button{
      width: 150px !important;
      font-size: 13px !important;

  }
}

@media (max-width:644px){
  .line img{
    display: none !important;
  }
}

@media (max-width:524px){
  .box-one-text,.box-two-text{
    margin-top: 0 !important;
    font-size: 10px !important;
    line-height: 15px !important;
    width: fit-content !important;
    text-align: end;
    /* font-weight: 300; */
}
.box-one-title,.box-two-title{
  color: rgba(78, 175, 218, 1);
  font-weight: bold;
  font-size: 14px !important;
  text-align: end;
}





.contact-form .form{
  width: 350px !important;
}

.form form input{
  width: 200px !important;
  height: 67px;
  
}

.box_social_one{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 !important;
}
.box_social_two{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  gap: 0 !important;
}
.box_social_two .logo-phone , .box_social_one .logo-phone{
  margin-top: 50px;
}



.form form textarea{    
  width: 160px !important;
}
.submit-btn{
  width: 150px !important;
  height: 101;
}

.submit-btn button{
  width: 150px !important;
  font-size: 13px !important;

}

}

@media (max-width:400px){
  .line{
    margin-top: 20px;
    width: 350px;
    height: 5px;
    background-color: #9BC352;
  }
  .box_social_one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
.ne-contact-content p{
  display: none;
}
.min-screen-text{
  display: flex !important;
  flex-direction: column;

}
.min-screen-text h6{
  text-align: center !important;
  font-size: 16px !important;
}
.min-screen-text h5{
  font-size: 16px !important;
}
}
