.hero{
    position: relative;
    height:512.49px ;
    width: 100%;
    background-image: url('./assest/images/Intersect.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero .hands-hero{
    position: absolute;
    right: 0.5%;
    top: 60%;
    width: 427.5px;
    z-index: 4;
}
.curve-1{
    position: absolute;
    /* z-index: -1; */
    bottom: 12%;
    left: 8%;

}
.curve-3{
    position: absolute;
    z-index: -1;
    right: 2%;
    top: 75%;
}
.curve-2{
    position: absolute;
    right: 1%;
    z-index: 0;
    top: 75%;
}
.curve-4{
    position: absolute;
    right: 2%;
    top: 73%;
}

.text-hero{
    width: 498px;
    height: 160px;
    margin: 0 60px;
}
.text-hero p{
    font-size: 36px;
    line-height: 80px;
    font-weight: 500;
}
.text-italic{
    font-size: 64px;
    line-height: 42px;
    width: fit-content;
}


.products-we-offer{
    margin-top: 30rem;
}

/* .curve-line .curve-1{
    position: absolute;
    top: 40.7%;
    left: 0;
    width: 1219.07px;
}
.curve-line .curve-2{
    position: absolute;
    top: 52%;
    right: 1%;

}
.curve-line .curve-3{
    position: absolute;
    top: 52%;
    right: 1%;

}
.curve-line .curve-4{
    position: absolute;
    top: 53%;
    right: 1%;

} */

.headline h1 ,.siria-herbs-history h1,.our-value h1,.iso-cerifecate h1,.policy h1{
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.product-we-offer-line,.siria-herbs-history-line,.iso-certifecate-line{
    width: 750px;
    height: 5px;
    background-color: #9BC352;
    position: absolute;
    right: 0;

}
.siria-herbs-history-line,.iso-certifecate-line{
    left: 0;
    height: 5px;
}

.brand-box img{
    width: 303.86px;
}

.brands-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.siria-herbs-history,.our-value,.iso-cerifecate,.policy{
    margin-top: 10rem;
}

.siria-herbs-history-box{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.siria-herbs-history-box p{
    width: 656px;
    line-height: 40px;
}

.siria-herbs-history-box p span{
    font-size: 32px;
}

.history-boxs{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
}
.history-one-img{
    width: 453px;
    border-radius: 15px;
}
.natural{
    position: relative;
    width: 464px;
    height: 281px;
    background-image: url('./assest/images/history-two-img.svg');
    background-position: center;
    background-size: cover;
}

.natural img{
    top: 50%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.iso-certifecate-con{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.iso-certifecate-con .iso-certifecate-text{
    font-size: 24px;
    line-height: 40px;
    width: 914px;
    text-align: center;
}

.properties-iso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.pro-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pro-box p{
    font-size: 30px;
    line-height: 60px;

}

.iso-btn{
    padding: 10px 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
    color: white;
    background-color: #9BC352;
    cursor: pointer;
    border-radius: 15px;
}
.iso-btn p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}
.policy-boxs{
    margin-top: 9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;

}
.policy-boxs p{
    font-size: 20px;
    line-height: 40px;
    width: 304px;
}

.policy-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.policy-logo .number{
    width: 30px;
}
/* .our-value-boxs{
    display: flex;
}
.our-value-box-con{
    
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    flex-wrap: wrap;


}

.box-one-con h1{
    font-size: 24px;
    text-align: start;
}
.box-one-con p{
    font-size: 16px;
    width: 397px;
}

.our-value-box-one,.our-value-box-two,.our-value-box-three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
} */




@media (max-width:946px){
    .iso-certifecate-con .iso-certifecate-text{
        font-size: 24px;
        line-height: 40px;
        width: 414px;
        text-align: center;
    }

}

@media (max-width:524px){
    .iso-certifecate-con .iso-logo{
        width:300px ;
    }
    .product-we-offer-line,.siria-herbs-history-line,.iso-certifecate-line{
        width: 450px !important;
        height: 5px;
        background-color: #9BC352;
        position: absolute;
        right: 0;
    
    }
}
